.team_content{
    overflow: hidden;
}
.team_item{
    width: 30%;
    float: left;
    background-color: #e8e8e8;
    padding:40px 15px;
    text-align: center;
}
.team_item:hover .team_overlay{
    opacity: 1;
    visibility: visible;
}
.team_img{
    margin: auto;
    width: 90%;
    position: relative;
    padding: 3px 40px 3px 3px;
}
.team_overlay{
    position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.5s , visibility 0.5s , color 0.5s;


}
.team_item.tbeff{
    z-index: 1;
}
.team_item:hover .team_info_title{
    color: white;
}
.team_item:hover .team_info_text{
    background-color: turquoise;
}

.team_overlay a{
 display: block;
 width: 40px;
 height: 40px;
 background-color: cornflowerblue;

 color: white;
margin-left: auto;
}
.team_img img{
    width: 100%;
}
.team_overlay i{
    line-height: 40px;
}

.team_info_title{
color: #999;
margin: 10px 0;
}
.team_info_text{
color: blue;
}
.team_item.mg{
    margin: 0 5%;
}
